.text-ui {
  font-size: 1.25rem;
  padding: 1rem;
}

.item {
  align-items: center;
  display: flex;
  margin: 1rem 0;

  b {
    font-family: "monospace";
  }
  input {
    font-size: inherit;
    padding: 3px;
    width: 25em;
  }
  input + button {
    font-size: inherit;
    padding: 3px;
  }
}
