.text-ui {
  font-size: 1.25rem;
  padding: 1rem;
}

.item {
  align-items: center;
  display: flex;
  margin: 1rem 0;

  b {
    font-family: "monospace";
  }
}

.segmented {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;

  span {
    margin-left: 0.25rem;
  }

  input {
    background: #eee;
    border: 0;
    font-family: inherit;
    font-size: inherit;
  }
}

.value {
  background: #eee;
}

.remove {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  position: relative;
  top: -0.2em;
}
